@model List<CourseBookUnitWord>

<h1>Practice</h1>
<hr>

<div class="card">
    <div class="card-body">
        <div id="wordPractice">

        </div>
        <div class="text-end mt-4">
            <a href="#" id="next" class="btn btn-primary">Next</a>
        </div>
    </div>
</div>


<script>
    
</script>

